/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1.8fr 1fr;
  grid-template-rows: 1fr 7fr 1fr;
  gap: 1px;
  height: 100vh;
  background-color: #af7732;
}

div {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
div img {
  width: 30%;
}

img {
  width: 100%;
}

.numbox {
  display: grid;
  gap: 1px;
  background-color: #af7732;
  grid-template-rows: repeat(5, 1fr);
  gap: 1px;
}
.numbox span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0 190px;
  height: 100%;
  cursor: pointer;
  transition: color 0.3s linear, background-color 0.3s linear;
}
.numbox span:hover {
  background-color: #af7732;
  color: white;
}

.testtext {
  white-space: nowrap;
  overflow: hidden;
}
.testtext span {
  animation: scrollText 10s linear infinite forwards;
}

@keyframes scrollText {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(-50vw);
  }
}
